{% extends "layout.html" %}
{% block content %}
<h1>Generate A Recipe For Me</h1>

<div class="column" style="background-color:#aaa;">
    <h2>Stock In Fridge</h2>
    <p>TODO: pull stocks from backend</p>
</div>
<div class="column" style="background-color:#bbb;">
    <h2>Ingredients</h2>
    <p>TODO: add to here</p>
</div>
<div class="column" style="background-color:#fff;">
    <h2>Recipe</h2>
    <p>TODO: display response</p>
</div>

<button class="btn">
    Button
</button>

{% endblock content%}