{% extends 'layout.html' %}
{% block content %}
    <div class="flex items-center justify-center min-h-screen">
        <div class="flex flex-col gap-4 items-center justify-center p-8 rounded-lg shadow-md min-w-[300px]">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="fieldset-form">
                    <legend class="px-3">Login</legend>
                    <div class="flex flex-col gap-4">
                        {% if incorrect %}
                            <span class="animate-rotate bg-red-400 p-3">
                                Username or Password is incorrect.
                            </span>
                        {% endif %}
                        <div class="flex justify-between">
                            {{ form.username.label() }}
                            {% if form.username.errors %}
                                {{ form.username(class="border border-black rounded ml-2.5 p-1") }}
                                <div class="bg-red-400">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="border border-black rounded ml-2.5 p-1") }}
                            {% endif %}
                        </div>
                        <div class="flex justify-between">
                            {{ form.password.label() }}
                            {% if form.password.errors %}
                                {{ form.password(class="border border-black rounded ml-2.5 p-1") }}
                                <div class="bg-red-400">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="border border-black rounded ml-2.5 p-1") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="btn-divv">
                        {{ form.submit(class="btnn") }}
                    </div>
                </fieldset>
            </form>
            <div>
                New?
                <a href="/register" class="hover:pointer text-blue-500 underline">Create an account</a>
            </div>
        </div>
    </div>
{% endblock content %}