{% extends "layout.html" %}
{% block content %}
<h1>Generate A Recipe For Me</h1>

<div class="row">

    <div class="column" style="background-color:#aaa;">
        <h2>Stock In Fridge</h2>

        <form method="GET" action="{{ url_for('recipes') }}">
            <table style="width: 100%; text-align: center;">
                <tr>
                    <th>Food Name</th>
                    <th>Expiration Date</th>
                    <th></th>
                </tr>
            
                <!-- a row for each item -->
                {% for f in stock_query%}
                <tr>
                    <td>{{f[0]}}</td>
                    <td>{{f[1]}}</td>
                    <td>
                        <input type=checkbox name='ingredient' value='{{f[0]}}'> <br/>
                    </td>
                </tr>
                {% endfor %}

            </table>

            <button type="submit">UPDATE INGREDIENTS</button>
        </form>

    </div>
    <div class="column" style="background-color:#bbb;">
        <h2>Ingredients</h2>

        {% for item in ingredients_list%}
            <div>
                <p>{{item}}</p>
            </div>
            
        {% endfor %}

        
        
    </div>
    <div class="column" style="background-color:#fff;">
        <h2>Recipe</h2>
        <p>TODO: display response</p>
    </div>

</div>

<div class="center">
    <button class="btn">
        WHAT SHOULD I COOK
    </button>
    
</div>

{% endblock content%}