{% extends "layout.html" %}
{% block content %}
<h1>What's in The Fridge?</h1>


<div class="content-section">
    <!-- TODO: get the user's table and display it here -->

    <table>
        <tr>
            <th>Food Name</th>
            <th>Expire Date</th>
            <th></th>
          </tr>
        
            {% for f in stock_query%}
            <tr>
                <td>{{f[0]}}</td>
                <td>{{f[1]}}</td>
                <td> 
                    <a href="{{ url_for('remove_stock', item_name=f[0]) }}"
                        onclick="return confirm('Do you want to delete food {{ f[0] }}?');" title="Delete Food">
                        <button style="color:lightcoral">delete</button>
                    </a>
                </td>
            </tr>
            {% endfor %}

      </table>
    
    
</div>

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.item_name.label(class="form-control-label") }}

                <!-- error handling -->
                {% if form.item_name.errors %}
                  {{ form.item_name(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.item_name.errors%}
                        <span>{{error}}</span>
                    {% endfor %}
                  </div>
              {% else %}
                  {{ form.item_name(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            <div class="form-group">
                {{ form.expire_date.label(class="form-control-label") }}

                <!-- error handling -->
                {% if form.expire_date.errors %}
                  {{ form.expire_date(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.expire_date.errors%}
                        <span>{{error}}</span>
                    {% endfor %}
                  </div>
              {% else %}
                  {{ form.expire_date(class="form-control form-control-lg") }}
              {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.add_btn(class="btn btn-outline-info") }}
         </div>
    </form>
</div>

{% endblock content%}